<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">liga líder después del cierre</a>
  <a class="navbar-brand" href="#">segundo liga tras el cierre</a> -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">FPL</a>
    
  
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" [ngClass]="{'active': division === '1'}">
          <a class="nav-link" (click)=callFPLService(mainLeagueID)>liga líder después del cierre</a>
        </li>
        <li class="nav-item" [ngClass]="{'active': division === '2'}">
          <a class="nav-link" (click)=callFPLService(secondDivisionID)>segundo liga tras el cierre</a>
        </li>
       
      </ul>
      
    </div>
  </nav>
  
<!-- </nav> -->

<main role="main" class="container">

  <div class="starter-template">
    
    

    <table class="table  table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team</th>
          <!-- <th scope="col">Player</th> -->
          
          <th scope="col">Played</th>
          <th scope="col">Won</th>
          <th scope="col">Draw</th>
          <th scope="col">Lost</th>
          <th scope="col">Points</th>
          <th scope="col">GD</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let player of playerData" [ngClass]="{'relegation':(player.rank>playerData.length-3), 'relegated': player.rank=='R', 'promotion':(player.rank<4) && player.division=='184','champion': player.rank=='C'|| player.rank=='P'}">
          <th scope="row">{{player.rank}}</th>
          <td><b>{{player.entry_name}}</b><br>{{player.player_name}}</td>
          <!-- <td></td> -->
          <td>{{player.matches_played}}</td>
          <td>{{player.matches_won}}</td>
          <td>{{player.matches_drawn}}</td>
          <td>{{player.matches_lost}}</td>
          <td>{{player.total}}</td>
          <td>{{player.points_for}}</td>
        </tr>
        
      </tbody>
    </table>
  </div>

</main><!-- /.container -->
