<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">liga líder después del cierre</a>
  <a class="navbar-brand" href="#">segundo liga tras el cierre</a> -->



<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top pageHeader">
    <!-- <a class="navbar-brand" href="#">FPL</a> -->


    <span class=" navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{'active': division === '1'}">
                <a class="nav-link" (click)=callFPLService(mainLeagueID)>liga líder después del cierre</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': division === '2'}">
                <a class="nav-link" (click)=callFPLService(secondDivisionID)>segundo liga tras el cierre</a>
            </li>
            <li class="nav-item" [ngClass]="{'active': division === '0'}">
                <a class="nav-link" (click)="initialiseCup()">la copa eliminatoria después del cierre</a>
            </li>
        </ul>

    </span>
</nav>



<!-- </nav> -->
<br>
<div *ngIf="!cupFlag">
    <main role="main" class="container pageBody">

        <div class="starter-template">



            <table class="table  table-dark" style="width: fit-content;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Team</th>
                        <!-- <th scope="col">Player</th> -->

                        <th scope="col">Played</th>
                        <th scope="col">Won</th>
                        <th scope="col">Draw</th>
                        <th scope="col">Lost</th>
                        <th scope="col">Points</th>
                        <th scope="col">GD</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of playerData"
                        [ngClass]="{'relegation':(player.rank>playerData.length-3), 'relegated': player.rank=='R', 'promotion':(player.rank<4) && player.division=='276380','champion': player.rank=='C'|| player.rank=='P'}">
                        <th scope="row">{{player.rank}}</th>
                        <td><b>{{player.entry_name}}</b><br>{{player.player_name}}</td>
                        <!-- <td></td> -->
                        <td>{{player.matches_played}}</td>
                        <td>{{player.matches_won}}</td>
                        <td>{{player.matches_drawn}}</td>
                        <td>{{player.matches_lost}}</td>
                        <td>{{player.total}}</td>
                        <td>{{player.points_for}}</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </main>


    <div class="container">
        <ul class="nav nav-tabs">

            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'selected': result}" (click)="getResults()">Results</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [ngClass]="{'selected': !result}" (click)="getFixtures()">Fixtures</a>
            </li>


        </ul>
        <br>

        <table class="table  table-dark" style="width: 50%;">
            <tbody>

                <tr *ngFor="let fixture of fixtures">

                    <td style="width: 40%;"><b>{{fixture.entry_1_name}}</b> <br> {{fixture.entry_1_player_name}}</td>

                    <td style="width: 20%;"> {{fixture.entry_1_points}} : {{fixture.entry_2_points}} </td>

                    <td style="width: 40%;"><span style="text-align: end;"><b>{{fixture.entry_2_name}}</b> <br>
                            {{fixture.entry_2_player_name}}</span></td>



                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>
<div *ngIf="cupFlag">

    <main role="main" class="container pageBody">
        <div class="rounds card" *ngIf="completed_gameweek>7">
            <div class="round-details card-header">Final<br /></div>


            <table class="table card-body">

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><b>R5 T1</b><br>R5 P1</td>
                        <td>VS</td>
                        <td><b>R5 T2</b><br>R5 P2</td>
                    </tr>
                </tbody>
            </table>


        </div>
        <div class="rounds card" *ngIf="completed_gameweek>6">

            <div class="round-details card-header">Semi Final<br /></div>


            <table class="table">

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><b>R4 T1</b><br>R4 P1</td>
                        <td>VS</td>
                        <td><b>R4 T2</b><br>R4 P2</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><b>R4 T3</b><br>R4 P3</td>
                        <td>VS</td>
                        <td><b>R4 T4</b><br>R4 P4</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="rounds card" *ngIf="completed_gameweek>5">



            <div class="round-details card-header">Round 3<br /></div>


            <table class="table">

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><b>SARBATH FC</b><br>MOHAMMED SHAMEER</td>
                        
<td>
    <span style="text-align: left;">RoundScore[0]</span>
    <span style="text-align: center;">:</span>
    <span style="text-align: right;">RoundScore[1]</span>
</td> 
                        <td><b>Hotspurs FC Higu Utd</b><br>Nagarajan CK</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td><b>Cannon Fodder</b><br>Al Hemu</td>
                        
<td>
    <span style="text-align: left;">RoundScore[2]</span>
    <span style="text-align: center;">:</span>
    <span style="text-align: right;">RoundScore[3]</span>
</td> 
                        <td><b>Red dev</b><br>Nafil Abdulla</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><b>Homegrown FC</b><br>England National Team</td>
                        
<td>
    <span style="text-align: left;">RoundScore[4]</span>
    <span style="text-align: center;">:</span>
    <span style="text-align: right;">RoundScore[5]</span>
</td> 
                        <td><b>kunthirikkam fc</b><br>mullali sahad</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td><b>Addicos FC</b><br>Rizwan Abdul Razack</td>
                        
<td>
    <span style="text-align: left;">RoundScore[6]</span>
    <span style="text-align: center;">:</span>
    <span style="text-align: right;">RoundScore[7]</span>
</td> 
                        <td><b>Rymans FC</b><br>Riaz Abdul Razack</td>
                    </tr>
                </tbody>
            </table>


        </div>
        <div class="rounds card" *ngIf="completed_gameweek>4">


            <div class="round-details card-header">Round 2<br /></div>


            <table class="table">

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td class="eliminated"><b>Ramu Kaká</b><br>Ram Narayan</td>
                        <td>
                            <span style="text-align: left;" class="eliminated">38</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;">48</span>
                        </td>
                        <td><b>SARBATH FC</b><br>MOHAMMED SHAMEER</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td class="eliminated"><b>Paper Tigers</b><br>Thrishal Sunil</td>
                        <td>
                            <span style="text-align: left;" class="eliminated">41</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;">46</span>
                        </td>
                        <td><b>Hotspurs FC Higu Utd</b><br>Nagarajan CK</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><b>Homegrown FC</b><br>England National Team</td>
                        <td>
                            <span style="text-align: left;">29</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;" class="eliminated">20</span>
                        </td>
                        <td class="eliminated"><b>Trichur's Finest</b><br>David Babu Varghese</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td><b>Addicos FC</b><br>Rizwan Abdul Razack</td>
                        <td>
                            <span style="text-align: left;">64</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;" class="eliminated">54</span>
                        </td>
                        <td class="eliminated"><b>DustyBun Demogorgons</b><br>Amal V Aleyas</td>
                    </tr>

                    <tr>
                        <th scope="row">5</th>
                        <td class="eliminated"><b>ROOK FC</b><br>Rishi Ravindran</td>
                        <td>
                            <span style="text-align: left;" class="eliminated">41</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;">44</span>
                        </td>
                        <td><b>Cannon Fodder</b><br>Al Hemu</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td><b>Red dev</b><br>Nafil Abdulla</td>
                        <td>
                            <span style="text-align: left;">50</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;" class="eliminated">33</span>
                        </td>
                        <td class="eliminated"><b>FC Death Riders</b><br>Vivek Joseph Antony</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td class="eliminated"><b>Travancore Royals</b><br>Cratto Tony</td>
                        <td>
                            <span style="text-align: left;" class="eliminated">36</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;">50</span>
                        </td>
                        <td><b>Rymans FC</b><br>Riaz Abdul Razack</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td><b>kunthirikkam fc</b><br>mullali sahad</td>
                        <td>
                            <span style="text-align: left;">62</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;" class="eliminated">53</span>
                        </td>
                        <td class="eliminated"><b>The One Manchester</b><br>Athul Gopal</td>
                    </tr>
                </tbody>
            </table>


        </div>
        <div class="rounds card" *ngIf="completed_gameweek>3">


            <div class="round-details card-header">Round 1<br /></div>


            <table class="table">

                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td><b>Red dev</b><br>Nafil Abdulla</td>
                        <td>
                            <span style="text-align: left;">86</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;" class="eliminated">43</span>
                        </td>
                        <td  class="eliminated"><b>The Black Rockets</b><br>Jithin Varghese</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td class="eliminated"><b>MALAR FC</b><br>Shrinatn K</td>
                        <td>
                            <span style="text-align: left;" class="eliminated">36</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;">39</span>
                        </td>

                        <td><b>Homegrown FC</b><br>England National Team</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td><b>The One Manchester</b><br>Athul Gopal</td>
                        <td>
                            <span style="text-align: left;">50</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;" class="eliminated">47</span>
                        </td>

                        <td class="eliminated"><b>JINX XI</b><br>Prajish K</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td class="eliminated"><b>Hades f.c</b><br>Gokul Krishnan</td>
                        <td>
                            <span style="text-align: left;" class="eliminated">56</span>
                            <span style="text-align: center;">:</span>
                            <span style="text-align: right;">63</span>
                        </td>

                        <td><b>Travancore Royals</b><br>Cratto Tony</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </main>
</div>

<!-- 
<td>
    <span style="text-align: left;">0</span>
    <span style="text-align: center;">:</span>
    <span style="text-align: right;">0</span>
</td> 
-->
